:root{
    --green: #00f000; 
    --white: #ffffff;
    --black: #000;
}

body{
    font-family: 'Courier New', Courier;
    background: var(--bg);
    color: var(--fontColor);
}

ul{
    font-family: helvetica;
}
li{
    list-style: circle;
}

.list{
    list-style: square;
}

#msg{
    font-family: monospace;
}

.lightTheme{
    --bg: (var(--green));
    --fontColor: (var(--black));


}

.darkTheme{
    --bg: var(--black);
    --fontColor: var(--green);


}
